<html>
	<head>
		<title>DestinyQuest Character Sheet</title>

		<%= @js_include %>
		<%= @css_include %>
	</head>

	<body>
		<div id="mainView">
		</div>

		<!-- Templates -->
		<script id="mainTemplate" type="text/template">
			<button style="float: right;" id="btnClear">Clear</button>
		</script>
		
		<script id="attributeTemplate" type="text/template">
			<p><%%- name %>:</p>
			<textarea rows="2" class="description"><%%- description %></textarea>
		</script>

		<script id="counterTemplate" type="text/template">
			<div class="counterName">
				<%%= type %>
			</div>

			<div class="counterCount">
				<%%= count %>
			</div>

			<a href="#" class="increment">+</a>
			<a href="#" class="decrement">-</a>
		</script>

		<script id="statusTemplate" type="text/template">
			<div>
				<%%= name %>
				<%%= value %>
			</div>
		</script>
	</body>
</html>
