<html>
	<head>
		<title>DestinyQuest Character Sheet</title>

		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
		<script src="//ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>

		<script src="js/main.js?rev=<%= ticks %>"></script>

		<link href="css/dq.css?rev=<%= ticks %>" type="text/css" rel="stylesheet"></link>
	</head>

	<body>
		<%= ticks %>
		<div class="row">
			<div class="cell" data-name="Cloak">
				Cloak:
			</div>

			<div class="cell" data-name="Head">
				Head:
			</div>

			<div class="cell" data-name="Gloves">
				Gloves:
			</div>
		</div>

		<div class="row">
			<div class="cell" data-name="Main Hand">
				Main Hand:
			</div>

			<div class="cell" data-name="Chest">
				Chest:
			</div>

			<div class="cell" data-name="Left Hand">
				Left Hand:
			</div>
		</div>

		<div class="row">
			<div class="cell" data-name="Talisman">
				Talisman:
			</div>

			<div class="cell" data-name="Feet">
				Feet:
			</div>

			<div class="cell" data-name="Money Pouch">
				Money Pouch:
			</div>
		</div>
	</body>
</html>
