body
{
	font-family: Arial;
}

.Arial11
{
	font-family: Arial;
	font-size: 11px;
}

div#mainView
{
	margin-top: 30px;
}

div.attribute
{
	display: inline-block;
	padding-right: 15px;
	vertical-align: top;
}

div.attribute textarea.description
{
	width: 200px;
	height: 75px;
}

div.counters
{
	display: inline-block;
	vertical-align: top;
}

div.counters a
{
	padding-left: 5px;
	padding-right: 2px;
}

div.counterName
{
	display: inline-block;
	width: 3em;
}

div.counterCount
{
	display: inline-block;
	width: 1em;
}

div.status
{
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: white;
	padding: 6px 10px 6px 10px;
	border: 2px solid;
	border-radius: 15px;
}
